<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>FoodGraphyDemo</title>

    <link rel="stylesheet" type="text/less" href="../static/styles/index.less">
    <script src="../static/bundles/less.min.js"></script>
    <script src="../static/bundles/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/bundles/normalize.css">
    <script src="../static/scripts/index.js"></script>

</head>
<body class="home" ontouchmove="BlockMove(event);">
<button class="nav-left"></button>
<button class="nav-right"></button>
<button class="tab-1"></button>
<button class="tab-2"></button>
<button class="tab-3"></button>
<button class="btn-search"></button>
<button class="btn-profile"></button>
<button class="pic-1"></button>
<button class="pic-2"></button>
<button class="pic-3"></button>

<script>
    function BlockMove(event) {
        //Tell Safari not to move the window.
        event.preventDefault();
    }
</script>

</body>
</html>
