<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>FoodGraphyDemo</title>

    <link rel="stylesheet" type="text/less" href="../static/styles/index.less">
    <script src="../static/bundles/less.min.js"></script>
    <script src="../static/bundles/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/bundles/normalize.css">
    <script src="../static/scripts/index.js"></script>

</head>
<body class="home">

<section class="top">
    <button class="nav-left"></button>
    <button class="nav-right"></button>
    <div class="nav-center"></div>
</section>

<section class="container">
</section>

<section class="bottom">
    <ul>
        <li class="tab-1"></li>
        <li class="tab-2"></li>
        <li class="tab-3"></li>
    </ul>
</section>

</body>
</html>
